<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efpro.iweight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="iWeight"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="iWeight"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BMIActivity"
            android:label="BMI"
            android:theme="@style/AppThemeBMI"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BMIResultActivity"
            android:label="BMI Result"
            android:theme="@style/AppThemeBMI"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KaloriActivity"
            android:label="Kalori"
            android:theme="@style/AppThemeKalori"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TipsActivity"
            android:label="Tips"
            android:theme="@style/AppThemeTips"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:theme="@style/AppThemeAbout"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TipsViewActivity"
            android:label="Tips"
            android:theme="@style/AppThemeTips"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>